<div class="card-top container-fluid">
    <div class="container d-flex">
      <div class="item">
        <a (click)="allItems()">
          <img src="..\assets\All.png" alt="">
          <h6>All Products</h6>
        </a>
      </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="..\assets\electronic.jpg">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="..\assets\fashion.jpg" alt="">
                <h6>Fashions</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="..\assets\jwellery.jpg" alt="">
                <h6>Jewelery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="card col-md-3">
        <img src="{{item.image}}">
        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 100ch">{{item.title}}</h5>
        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 100ch">{{item.description}}</p>
        <p>
          <strong>Price :</strong>
          ${{item.price}}
        </p>
        <input type="number" id="qty" [(ngModel)]="qty" (keyup)="keyUp()" (change)="change()">
        <button class="btn btn-primary" id="btnAdd" (click)="addToCart(item)">Add to Cart</button>
      </div>
    </ng-container>
  </div>
</div>

